@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.leaflet-container {
  height: 80vh;
  width: 90vw;
}

table thead.ant-table-thead .ant-table-cell {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 3px solid #447EEC;
  color: #447EEC;
  text-align: center;
  padding: 2px 4px;
}

table thead.ant-table-thead .ant-table-cell:first-child {
  border: none;
  background-color: transparent;
}


table tbody.ant-table-tbody tr.ant-table-row-level-0 td.ant-table-cell:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 3px solid #447EEC;
};

